@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Классы для сброса дефолтных настроек */
address {
  font-style: normal;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 10px 0px;
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.button-menu-mobile {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  outline: transparent;
}

.button-menu-mobile .icon-menu-close {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu-mobile {
    display: none;
  }
}

.button-menu-mobile.is-open .icon-menu-close {
  display: block;
}

.button-menu-mobile.is-open .icon-menu-open {
  display: none;
}

.button-menu-mobile:focus .mobile-menu-svg {
  fill: #2196F3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.spanlogo {
  color: #2196F3;
}

.logo-white {
  color: #FFFFFF;
}

.nav-menu {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-menu .current {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 12px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ECECEC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header-menu.is-open {
    display: block;
    z-index: 222;
    background-color: #FFFFFF;
  }
  .contacts {
    padding-bottom: 60px;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 16px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
  }
}

.header-underlined {
  border-bottom: 1px solid #ECECEC;
}

.contacts {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: left;
    margin-left: 74px;
    font-size: 12px;
    line-height: 1.172;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 305px;
  }
}

.contacts-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-svg-mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1120px) {
  .contacts-svg-mail {
    width: 16px;
    height: 12px;
  }
}

.contacts-svg-tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1120px) {
  .contacts-svg-tel {
    width: 10px;
    height: 16px;
  }
}

.contacts-svg {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: top;
}

.contacts-link:hover .contacts-svg {
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-svg,
.social-link:focus .social-svg {
  fill: #FFFFFF;
}

.modal-icon {
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translateY(-11px);
  width: 18px;
  height: 18px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-desc {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-input:focus + .modal-icon,
.modal-comment:focus + .modal-icon {
  fill: #2196F3;
}

.consent-field {
  text-align: center;
  margin-bottom: 30px;
}

.consent-label {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .consent-label {
    padding-left: 10px;
  }
}

.agreement {
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
  }
}

.modal-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  border: 1px solid #2196F3;
}

.agreement-link {
  color: #2196F3;
  text-decoration-skip-ink: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 1px;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

.close-button:focus {
  border-color: #2196F3;
  outline: none;
}

.close-button:focus .modal-close {
  fill: #2196F3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.172;
  }
}

.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-custom {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 9px;
}

.checkbox:checked + .checkbox-custom {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url(../images/icons/checkbox-modal.svg);
  background-size: contain;
  background-origin: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1199px) {
  .mailing {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
  }
}

.mailing-input {
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.button-footer {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe {
  padding-right: 25px;
}

.icon-email {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover .icon-email,
.button-footer:focus .icon-email {
  fill: #2196F3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-img-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-img-desktop@2x.jpg);
  }
}

.hero .container {
  padding: 118px 60px;
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 118px 204px;
    height: 400px;
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding: 200px 252px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc(100% / 4 - 30px);
  }
}

.features-title,
.section-title {
  font-weight: 700;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features-title,
  .section-title {
    text-align: center;
  }
}

.features-title {
  margin-bottom: 10px;
  line-height: 1.172;
  text-transform: uppercase;
}

.features-desc {
  margin-bottom: 0;
}

.features-icons {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.features-svg {
  width: 70px;
  height: 70px;
}

.no-toppadding {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .no-toppadding {
    display: none;
  }
}

.works-list {
  display: flex;
}

.works-item {
  flex-basis: calc((100% - 60px)/ 3);
  position: relative;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.167;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.works-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 1.172;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-item {
  margin-top: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-desc {
  padding: 30px 32px;
  background-color: #FFFFFF;
}

.name,
.position {
  font-size: 16px;
  line-height: 1.187;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.position {
  margin-bottom: 16px;
  color: #757575;
}

.clients-title {
  line-height: 1.172;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-svg {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196F3;
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
}

.map {
  color: #FFFFFF;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

.footer-address {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
    text-align: left;
  }
}

.address-container {
  margin-top: 20px;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-item-footer:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-item-footer:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
  }
}

.join-us {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .join-us {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    text-align: left;
  }
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.172;
  color: #FFFFFF;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-svg {
  fill: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */