@charset "UTF-8";
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Классы для сброса дефолтных настроек */
address {
  font-style: normal;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 10px 0px;
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.button-menu-mobile {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  outline: transparent;
}

.button-menu-mobile .icon-menu-close {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu-mobile {
    display: none;
  }
}

.button-menu-mobile.is-open .icon-menu-close {
  display: block;
}

.button-menu-mobile.is-open .icon-menu-open {
  display: none;
}

.button-menu-mobile:focus .mobile-menu-svg {
  fill: #2196F3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.spanlogo {
  color: #2196F3;
}

.logo-white {
  color: #FFFFFF;
}

.nav-menu {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-menu .current {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 12px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: 0;
  }
}

.filters-item {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-item:hover, .filters-item:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-svg,
.social-link:focus .social-svg {
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .mailing {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
  }
}

.mailing-input {
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.button-footer {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe {
  padding-right: 25px;
}

.icon-email {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover .icon-email,
.button-footer:focus .icon-email {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ECECEC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header-menu.is-open {
    display: block;
    z-index: 222;
    background-color: #FFFFFF;
  }
  .contacts {
    padding-bottom: 60px;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 16px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
  }
}

.header-underlined {
  border-bottom: 1px solid #ECECEC;
}

.contacts {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: left;
    margin-left: 74px;
    font-size: 12px;
    line-height: 1.172;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 305px;
  }
}

.contacts-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-svg-mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1120px) {
  .contacts-svg-mail {
    width: 16px;
    height: 12px;
  }
}

.contacts-svg-tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1120px) {
  .contacts-svg-tel {
    width: 10px;
    height: 16px;
  }
}

.contacts-svg {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.contacts-link:hover .contacts-svg {
  fill: currentColor;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding-bottom: 50px;
  }
}

.filters-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters-list:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.works {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .works {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.works-list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .works-list {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-list {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.works-list:hover, .works-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-over {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transform: translateY(100%);
  transition-duration: 250ms;
}

.works-link:hover .works-overlay,
.works-link:focus .works-overlay {
  transform: translateY(0);
}

.works-link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-content {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ECECEC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ECECEC;
}

.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works-desc {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  background-color: #2F303A;
}

.map {
  color: #FFFFFF;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

.footer-address {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
    text-align: left;
  }
}

.address-container {
  margin-top: 20px;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-item-footer:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-item-footer:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
  }
}

.join-us {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .join-us {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    text-align: left;
  }
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.172;
  color: #FFFFFF;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-svg {
  fill: #FFFFFF;
}
/*# sourceMappingURL=portfolio.css.map */