$color-primary:#757575;
$color-secondary:#212121;
$accent-color:#2196F3;
$white:#FFFFFF;
$bg-dark:#2F303A;
$bg-gray:#F5F4FA;
$cl-frame-header:#EEEEEE;
$cl-frame-header:#ECECEC;
$cl-hero-bg:#C4C4C4;
$cl-svg:#AFB1B8;