.team {
    background-color: $bg-gray;
}

.team-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
}

.team-item {
    
    margin-top: 30px;
    text-align: center;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
} 

.team-desc {
    padding: 30px 32px;
    background-color: $white;
}

.name,
.position {
    font-size: 16px;
    line-height: 1.187;
}

.name {
    margin-bottom: 10px;
    
    font-weight: 500;
    color: $color-secondary;
}

.position {
    margin-bottom: 16px;

    color: $color-primary;
}